service:
  extensions: [jaeger_storage, jaeger_query]
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [jaeger_storage_exporter, spanmetrics]
    metrics/spanmetrics:
      receivers: [spanmetrics]
      exporters: [prometheus]
  telemetry:
    resource:
      service_name: jaeger
    metrics:
      level: detailed
      readers:
        - pull:
            exporter:
              prometheus:
                host: 0.0.0.0
                port: 8888

extensions:
  jaeger_query:
    base_path: /ui
    storage:
      traces: trace_storage
      metrics: metric_storage
  jaeger_storage:
    backends:
      trace_storage:
        badger:
          directories:
            keys: "/badger/jaeger"
            values: "/badger/jaeger"
          ephemeral: false
          ttl:
            spans: 48h
      trace_archive_storage:
        badger:
          directories:
            keys: "/badger/jaeger_archive"
            values: "/badger/jaeger_archive"
          ephemeral: false
          ttl:
            spans: 720h
    metric_backends:
      metric_storage:
        prometheus:
          endpoint: http://prometheus:9090
          normalize_calls: true
          normalize_duration: true
connectors:
  spanmetrics:

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
processors:
  batch:

exporters:
  jaeger_storage_exporter:
    trace_storage: trace_storage
  prometheus:
    endpoint: "0.0.0.0:8889"
